# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj


# mstest test results folder
TestResults


# nuget packages folder
packages


# data folder
App_Data


# VS support files (not neccassary to load & build solution)
*.suo
*.v11.suo
*.user